@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100 dark:bg-gray-900 transition-colors duration-300;
}

@layer components {
    .card {
        @apply bg-white dark:bg-gray-800 p-6 rounded-2xl shadow-md;
    }

    .btn-primary {
        @apply bg-green-500 text-white font-bold py-2 px-4 rounded-lg transition-all duration-200 ease-in-out;
        @apply hover:bg-green-600 hover:shadow-lg transform hover:-translate-y-px disabled:bg-gray-400 disabled:cursor-wait disabled:transform-none disabled:shadow-none;
    }

    .input-style {
        @apply w-full p-2 rounded-lg bg-gray-200 dark:bg-gray-800 border border-gray-300 dark:border-gray-700;
        @apply focus:outline-none focus:ring-2 focus:ring-green-500 transition-colors;
    }
}

.hide-arrows::-webkit-inner-spin-button,
.hide-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.hide-arrows {
    -moz-appearance: textfield;
}